* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categorylist_container {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 100px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  text-align: center;
  border: none;
  background-color: white;
  /* box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11); */
}

.logo_description {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.category_button {
  background-color: white;
  border: none;
}

.categorywise_container {
  /* width: 100vh; */
  /* min-width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid; */
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
}

.first_category,
.second_category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
}
