* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar_div_container {
  background-color: #0891b2;
  padding: 0.5rem 1rem;
}

.main_navbar_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.user_navbar_container {
  display: flex;
  gap: 30px;
}

.nav_link_detail {
  text-decoration: none;
  color: whitesmoke;
}

.search_navbar_input_mobile {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  width: 400px;
  max-width: 100%;
  /* border-color : red; */
}

.logo_icons {
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}

.search_navbar_input_desktop {
  display: none;
  padding: 0.4rem 1rem;
  border-radius: 0.8rem;
  width: 400px;
  border: none;
}

.searched_product_containers_desktop,
.searched_product_containers_mobile {
  width: 400px;
  max-height: 400px;
  background-color: whitesmoke;
  position: absolute;
  z-index: 2;
  overflow-x: hidden;
  border-radius: 1rem;
}

.nav_link {
  text-decoration: none;
  font-size: 14px;
}

.cart_logo {
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin: 10px;
  /* margin-left: 8rem; */
}

.searched_product_containers_mobile {
  display: block;
  margin: 0 auto;
}

.search_navbar_container_mobile {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.searched_product_containers_desktop {
  display: none;
}

@media screen and (min-width: 781px) {
  body {
    font-size: 16px;
  }

  .searched_product_containers_mobile {
    display: none;
  }

  .nav_link_detail {
    font-size: 20px;
  }

  .searched_product_containers_desktop {
    display: block;
  }

  .search_navbar_input_desktop {
    display: block;
  }

  .search_navbar_input_mobile {
    display: none;
  }

  .navbar_div_container {
    padding: 1rem 2rem;
  }

  .div_container_logo {
    /* margin-left: 8rem; */
  }
}
