.userprofile_container {
  /* border: 2px solid black; */
  /* height: 300px; */
  width: 20rem;
  margin: 5px auto;
  padding: 1rem;
  box-shadow: 1px 3px 20px 1px #888;
}

.user_profile_details {
  padding: 10px;
  margin: 1.5rem auto;
}

.logout_button {
  background-color: red;
  padding: 0.3rem 0.5rem;
  font-size: 18px;
}

.user_profile_button_container {
  background-color: whitesmoke;
}

.user_profile_btn,
.user_address_btn,
.user_order_btn {
  background-color: whitesmoke;
  color: #0891b2;
  border: none;
  padding: 0.3rem 0.5rem;
  margin: 0.1rem 0.6rem;
  font-size: 18px;
}

@media screen and (min-width: 931px) {
  .userprofile_container {
    width: 30rem;
  }
}
