* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_cart_checkout {
  display: flex;
  flex-direction: column;
}

.cart_page_container {
  margin: 0 auto;
  text-align: center;
}

.cart_display_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 15px;
  text-align: center;
  /* margin: 0 auto; */
}

.cart_grid_container {
  display: flex;
  border-radius: 8px;
  justify-content: center;
  width: 300px;
  box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.1);
}

.cart_image_container {
  position: relative;
}

.cart_image_div {
  width: 140px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cart_wishlist_container {
  position: absolute;
  top: 0;
  right: 0;
}

.cart_product_container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: start;
  text-align: start;
  position: relative;
  width: 100%;
  margin-right: 5px;
}

.cart_name_container {
  font-weight: bold;
  font-size: 18px;
  margin: 6px 3px;
  /* padding: ; */
}

.cart_price_container {
  margin: 6px 3px;
}
.cart_mainprice_container {
  text-decoration: line-through;
  color: grey;
}

.cart_disprice_container {
  font-weight: bold;
}

.cart_discount_container {
  color: grey;
  margin: 6px 3px;
  font-weight: bolder;
}
.cart_quantity_container {
  margin: 6px 3px;
  text-align: center;
}

.empty_cart_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.cart_remove_button {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #0891b2;
  border: 2px solid #0891b2;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0;
  margin-right: 0.3rem;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
}

.cart_remove_button:hover {
  background-color: red;
  color: whitesmoke;
  border: 2px solid red;
}

.minus_quantity_button,
.plus_quantity_button {
  border: none;
  background-color: white;
  color: #0891b2;
  font-size: 20px;
  /* padding: 1px 4px; */
  /* border-radius: 50%; */
}

.minus_quantity_button {
  /* padding-bottom: ; */
}

.totalitem_price_details {
  /* border: 2px solid; */
  text-align: center;
  min-width: 250px;
  max-width: none;
  /* min-height: 300px; */
  /* height: auto; */
  box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.1);
}

.totalitem_cartitem_details,
.totalitem_totalprice_details {
  display: flex;
  justify-content: space-between;
  margin: 5px 3px;
}

.totalitem_cart_details {
  font-weight: bolder;
  font-weight: 18px;
}

.totalitem_checkoutbtn_details {
  /* width: 100%; */
  margin: 5px;
  padding: 0.3rem;
}

.cart_display_page {
  display: flex;
  flex-direction: column;
}

.totalitem_checkoutbtn_details {
  color: whitesmoke;
  background-color: #0891b2;
  font-size: 16px;
  font-weight: bolder;
  border: none;
}

@media screen and (min-width: 768px) {
  .cart_grid_container {
    /* display: flex; */
    /* border: 2px solid; */
    width: 400px;
    box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.1);
  }

  /* .main_cart_checkout {
    flex-direction: row;
  } */

  .totalitem_price_details {
    align-self: flex-start;
  }

  .cart_grid_container {
    gap: 15px;
    margin: 15px;
    width: 400px;
    height: 240px;
  }

  .cart_display_page {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .cart_image_div {
    width: 180px;
    height: 100%;
  }

  .cart_remove_button {
    font-size: 18px;
  }

  .totalitem_cartitem_details,
  .totalitem_totalprice_details {
    margin: 10px 3px;
  }
}
