.main_container_product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.fakefetch_container {
  display: flex;
  flex-direction: column;
}

.product_listing_page_container {
  display: flex;
  margin-top: 20px;
}

.product_category_component {
  /* width: 100vh; */
}

.show_filter_responsive {
  display: block;
}

.hide_filter_responsive {
  display: none;
}
