/* Generic Styles */
.productdisplay_container {
  width: 250px;
  border-radius: 6px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* background-color: #0891b2; */
  position: relative;
}

.productdisplay_container:hover {
  background-color: white;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
}

.product_link_individual {
  text-decoration: none;
  background-color: white;
}

.product_span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #0891b2;
}
/* h3 {
  margin: 10px 0 0;
} */

.image_display_container {
  object-fit: cover;
  width: "100%";
  height: "200px";
}
/* p {
  margin: 10px 0 0;
  line-height: 1.4;
  color: #666;
} */
.cart_button {
  margin-top: 10px;
  background-color: #0891b2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart_outstock_btn {
  background-color: #c60b0b;
  margin-top: 10px;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 0.9rem;
  width: 100%;
}

.cart_button_added {
  background-color: #4bb543;
  margin-top: 10px;
  /* background-color: #0891b2; */
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 0.9rem;
  width: 100%;
}

.image_looks {
  position: absolute;
}

.image_looks_trending {
  top: 0px;
  left: 0px;
  background-color: darkorange;
  color: whitesmoke;
  font-weight: bold;
  padding: 2px;
}

.image_looks_wishlist {
  top: 0px;
  right: 0px;
  border: none;
  background-color: #0891b2;
  color: whitesmoke;
  border-bottom-left-radius: 5px;
}

.image_looks_size {
  bottom: 0;
  right: 0;
}

/* Generic Styles End */

.cart_button {
  align-self: flex-end;
  width: 100%;
}

.nav_logo_product {
  font-size: 24px;
  /* color: red; */
  /* background-color: red; */
}

.wishlist_heart {
  fill: red;
  color: red;
}
