.main_container_product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.fakefetch_container {
  display: flex;
  flex-direction: column;
}

.product_listing_page_container {
  display: flex;
  margin-top: 20px;
}

.product_category_component {
  width: 100vw;
}

.show_filter_responsive {
  display: block;
}

.noproduct_found {
  margin: auto auto;
  width: 100vh;
}

.hide_filter_responsive {
  display: none;
}

.show_filter_button {
  /* width: 100%; */
  color: whitesmoke;
  border: none;
  font-weight: bolder;
  padding: 0.6rem 1rem;
  background-color: #0891b2;
  /* margin-top: 1.5rem; */
  /* position: sticky; */
  /* bottom: 0; */
  /* display: block; */
}

.hide_filter_btn {
  background-color: whitesmoke;
  color: #0891b2;
  font-size: 20px;
  border: none;
  width: 100%;
  font-weight: bolder;
}

.hide_filter_btn:hover {
  color: red;
}

.sticky_product_data {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}

.pagination {
  margin: 1rem;
  text-align: center;
}

.filter_infetch {
  /* width: 250px; */
}

.previous_page_product,
.next_page_product {
  background-color: whitesmoke;
  color: #0891b2;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem;
  font-size: 18px;
  font-weight: bolder;
}

.current_page_product {
  background-color: #0891b2;
  color: whitesmoke;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem;
  font-size: 18px;
  font-weight: bolder;
}

.pagination_arrow {
  color: #0891b2;
  font-size: 18px;
  margin: 0 0.5rem;
}

.show_filter_button {
  display: block;
}

.main_top_div {
  /* z-index: 2; */
}

.hide_filter_component,
.mobile_filter_list {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.mobile_filter_list {
  display: block;
}

@media screen and (min-width: 781px) {
  .hide_filter_responsive {
    display: block;
  }

  .show_filter_button {
    display: none;
  }

  .mobile_filter_list {
    display: none;
  }

  .sticky_product_data h2 {
    text-align: center;
    margin: 0 auto;
  }
}
